/gui2lm/gui2lm/language_model/old_versions/
/gui2lm/gui2lm/console_output/
/gui2lm/gui2lm/language_model/console_output/
/gui2lm/gui2lm/resources/abstractions/Y4X3/
/gui2lm/gui2lm/resources/abstractions/Y4X3_TEST/
/gui2lm/gui2lm/resources/test_guis/
